@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
}

:root {
  --primary-c1: hsl(220, 98%, 61%);
  --primary-bg1: hsl(192, 100%, 67%);
  --primary-bg2: hsl(280, 87%, 65%);
  --light-c1: hsl(0, 0%, 98%);
  --light-c2: hsl(236, 33%, 92%);
  --light-c3: hsl(233, 11%, 84%);
  --light-c4: hsl(236, 9%, 61%);
  --light-c5: hsl(235, 19%, 35%);
  --dark-c1: hsl(235, 21%, 11%);
  --dark-c2: hsl(235, 24%, 19%);
  --dark-c3: hsl(234, 39%, 85%);
  --dark-hover: hsl(236, 33%, 92%);
  --dark-c5: hsl(234, 11%, 52%);
  --dark-c6: hsl(233, 14%, 35%);
  --dark-c7: hsl(237, 14%, 26%);
}

.todo-container {
  position: relative;
  height: 100vh;
  min-width: 300px;
  background-color: var(--light-c2);
  padding: 3rem 1.5rem;
  background-image: url("/static/images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-width: 375px) {
  .todo-container {
    background-image: url("/static/images/bg-desktop-dark.jpg");
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bg-image-dark {
  background-image: url("/static/images/bg-mobile-dark.jpg");
  background-color: var(--dark-c1);
}

@media (min-width: 375px) {
  .bg-image-dark {
    background-image: url("/static/images/bg-desktop-dark.jpg");
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(300px, 100%, 500px);
}
.header h1 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: var(--light-c1);
}
.header .img-container {
  width: 20px;
}
.header .img-container img {
  cursor: pointer;
  width: inherit;
}
.createTodo-container {
  margin-top: 2rem;
  min-width: 300px;
  width: clamp(300px, 100%, 500px);
}
.createTodo-container form {
  background-color: var(--light-c1);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.createTodo-container form input[type=checkbox] {
  display: none;
}
.createTodo-container form label {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--light-c4);
  margin: 0 0 0 1rem;
  background-repeat: no-repeat;
  background-position: center;
}
.createTodo-container form input[type=checkbox]:checked + label {
  background-image: url("/static/images/icon-check.svg"), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}
.createTodo-container form input[type=text] {
  border: none;
  padding: 1rem;
  width: 100%;
  outline: none;
}
.create-dark form {
  background-color: var(--dark-c2);
}
.create-dark form label {
  border-color: var(--dark-c6);
}
.create-dark form input {
  background-color: var(--dark-c2);
  color: var(--dark-c3);
}

@media (min-width: 375px) {
  .create-dark form {
    background-color: var(--dark-c2);
  }
  .create-dark form label {
    border-color: var(--dark-c6);
  }
  .create-dark form input {
    background-color: var(--dark-c2);
    color: var(--dark-c3);
  }
}
.loading {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
.loading .spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 5px solid var(--primary-c1);
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.todoLists-container {
  width: clamp(300px, 100%, 500px);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.todoLists-container .todolist-main-container {
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
.todoLists-container .todolist-main-container .container-1 {
  padding: 1rem;
  background-color: var(--light-c1);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-c3);
}
.todoLists-container .todolist-main-container .container-1 input[type=checkbox] {
  display: none;
}
.todoLists-container .todolist-main-container .container-1 input[type=checkbox]:checked ~ .text-container > p {
  text-decoration: line-through;
  color: var(--light-c4);
}
.todoLists-container .todolist-main-container .container-1 label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--light-c4);
  background-repeat: no-repeat;
  background-position: center;
}
.todoLists-container .todolist-main-container .container-1 input[type=checkbox]:checked + label {
  background-image: url("/static/images/icon-check.svg"), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}
.todoLists-container .todolist-main-container .container-1 .text-container {
  width: 100%;
}
.todoLists-container .todolist-main-container .container-1 .img-container {
  display: none;
  width: 15px;
}
.todoLists-container .todolist-main-container .container-1 .img-container img {
  width: inherit;
}
.todoLists-container .todolist-main-container .container-1:hover .img-container {
  cursor: pointer;
  display: block;
}
.todoLists-container .container-2 {
  background-color: var(--light-c1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.todoLists-container .container-2 .middle {
  cursor: pointer;
  display: none;
  gap: 1rem;
}
.todoLists-container .container-2 p:nth-child(3) {
  cursor: pointer;
}
@media (min-width: 375px) {
  .todoLists-container {
    max-height: 450px;
  }
  .todoLists-container .todolist-main-container {
    max-height: 400px;
  }
  .todoLists-container .container-2 .middle {
    display: flex;
  }
}

.list-dark .todolist-main-container .container-1 {
  background-color: var(--dark-c2);
  border-bottom-color: var(--dark-c6);
}
.list-dark .todolist-main-container .container-1 input[type=checkbox]:checked ~ .text-container > p {
  text-decoration: line-through;
  color: var(--dark-c6);
}
.list-dark .todolist-main-container .container-1 label {
  border-color: var(--dark-c6);
}
.list-dark .todolist-main-container .container-1 .text-container {
  color: var(--dark-c3);
}
.list-dark .container-2 {
  background-color: var(--dark-c2);
  color: var(--dark-c5);
}

.footer {
  background-color: var(--light-c1);
  border-radius: 0.5rem;
  color: var(--light-c4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  width: clamp(300px, 100%, 500px);
}
.footer p {
  cursor: pointer;
}
.footer :nth-child(1) {
  color: var(--primary-c1);
}
@media (min-width: 375px) {
  .footer {
    display: none;
  }
}

.footer-dark {
  background-color: var(--dark-c2);
  color: var(--dark-c5);
}/*# sourceMappingURL=styles.css.map */