.createTodo-container {
  margin-top: 2rem;
  min-width: 300px;
  width: clamp(300px, 100%, 500px);
  form {
    background-color: var(--light-c1);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      display: none;
    }

    label {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid var(--light-c4);
      margin: 0 0 0 1rem;
      background-repeat: no-repeat;
      background-position: center;
    }
    input[type="checkbox"]:checked + label {
      background-image: url("/static/images/icon-check.svg"),
        linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
      border: none;
    }

    input[type="text"] {
      border: none;
      padding: 1rem;
      width: 100%;
      outline: none;
    }
  }

  @media (min-width: 375px) {
  }
}

.create-dark {
  form {
    background-color: var(--dark-c2);

    label {
      border-color: var(--dark-c6);
    }
    input {
      background-color: var(--dark-c2);
      color: var(--dark-c3);
    }
  }
}

@media (min-width: 375px) {
  .create-dark {
    form {
      background-color: var(--dark-c2);

      label {
        border-color: var(--dark-c6);
      }
      input {
        background-color: var(--dark-c2);
        color: var(--dark-c3);
      }
    }
  }
}
