.footer {
  background-color: var(--light-c1);
  border-radius: 0.5rem;
  color: var(--light-c4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  width: clamp(300px, 100%, 500px);

  p {
    cursor: pointer;
  }

  :nth-child(1) {
    color: var(--primary-c1);
  }

  @media (min-width: 375px) {
    display: none;
  }
}

.footer-dark {
  background-color: var(--dark-c2);
  color: var(--dark-c5);
}
