.todo-container {
  position: relative;
  height: 100vh;
  min-width: 300px;
  background-color: var(--light-c2);
  padding: 3rem 1.5rem;
  background-image: url("../../../public/images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-width: 375px) {
    background-image: url("../../../public/images/bg-desktop-light.jpg");
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bg-image-dark {
  background-image: url("../../../public/images/bg-mobile-dark.jpg");
  background-color: var(--dark-c1);
}
@media (min-width: 375px) {
  .bg-image-dark {
    background-image: url("../../../public/images/bg-desktop-dark.jpg");
  }
}
