.loading {
  background-color: rgba($color: #000000, $alpha: 0.15);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;

  .spinner {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 5px solid var(--primary-c1);
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.todoLists-container {
  width: clamp(300px, 100%, 500px);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
  font-size: 0.8rem;

  .todolist-main-container {
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    .container-1 {
      padding: 1rem;
      background-color: var(--light-c1);
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
      border-bottom: 1px solid var(--light-c3);
      input[type="checkbox"] {
        display: none;
      }

      // if checkbox is checked text decorate text-container
      input[type="checkbox"]:checked ~ .text-container > p {
        text-decoration: line-through;
        color: var(--light-c4);
      }

      label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--light-c4);
        background-repeat: no-repeat;
        background-position: center;
      }

      input[type="checkbox"]:checked + label {
        background-image: url("/static/images/icon-check.svg"),
          linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        border: none;
      }

      .text-container {
        width: 100%;
      }

      .img-container {
        display: none;
        width: 15px;

        img {
          width: inherit;
        }
      }
    }

    .container-1:hover .img-container {
      cursor: pointer;
      display: block;
    }
  }
  .container-2 {
    background-color: var(--light-c1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .middle {
      display: none;
      gap: 1rem;
    }
  }

  @media (min-width: 375px) {
    max-height: 450px;

    .todolist-main-container {
      max-height: 400px;
    }

    .container-2 {
      .middle {
        display: flex;
      }
    }
  }
}

.list-dark {
  .todolist-main-container {
    .container-1 {
      background-color: var(--dark-c2);
      border-bottom-color: var(--dark-c6);

      input[type="checkbox"]:checked ~ .text-container > p {
        text-decoration: line-through;
        color: var(--dark-c6);
      }
      label {
        border-color: var(--dark-c6);
      }

      .text-container {
        color: var(--dark-c3);
      }
    }
  }

  .container-2 {
    background-color: var(--dark-c2);
    color: var(--dark-c5);
  }
}
